<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Wake on LAN server</title>
  <link rel="stylesheet" href="/static/styles/main.css" />
</head>
<body>
  <header>
    <h1>Wake On LAN Server</h1>
  </header>
  <nav>
    <ul>
    <li><a href="/" data-link>Server List</a></li>
    <li><a href="/addServer" data-link>Add Server</a></li>
    <li><a href="/updateStatus">Update Status</a></li>
    </ul>
  </nav>
  <section id="mainContent">
    <div id="app"></div>
    <script type="module" src="/static/main.js"></script>
  </section>
  <footer>
    Copyright TheNetworkWizard 2026
  </footer>
</body>
</html>
